.recipe-container{
    display:flex;
    gap:10px;
    height: calc(100vh - 92px);
    width:100%;
}

.list-container{
    width:25%;
}

.recipe-container{
    width:99%;
}

app-recipe{
    width:100%;
}

.add-recipe-button{
    position: absolute;
    bottom:30px;
    right:30px;
}