.app{
    main{

        .list-container{
            width:25%;
        }
        
        .recipe-container{
            width:75%;
        }

        padding: 10px;
        gap: 10PX;
        display :flex;
    }    
}