<div class="recipe_container">
<mat-card class="card" *ngIf="recipe">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>{{recipe.title}}</mat-card-title>
      <mat-card-subtitle>{{recipe.ingredients}}</mat-card-subtitle>
    </mat-card-header>
    
    <div class="recipe_pic">
        <img mat-card-image src={{recipe.img_url}} alt="Photo">
    </div>
    
    <mat-card-content>
      <p>
        {{recipe.preperation}}
      </p>
    </mat-card-content>
    
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="onClickConfirm()">CONFIRM</button>
      <button mat-raised-button color="primary" (click)="onClickArchive()">ARCHIVE</button>
    </mat-card-actions>
  </mat-card>
</div>
